[submodule "third_party/phase1/mambavision"]
	path = third_party/phase1/mambavision
	url = https://github.com/NVlabs/MambaVision
[submodule "third_party/phase1/transnext"]
	path = third_party/phase1/transnext
	url = https://github.com/DaiShiResearch/TransNeXt
[submodule "third_party/phase1/chexworld"]
	path = third_party/phase1/chexworld
	url = https://github.com/LeapLabTHU/CheXWorld
[submodule "third_party/phase1/lrfl"]
	path = third_party/phase1/lrfl
	url = https://github.com/Statistical-Deep-Learning/LRFL
[submodule "third_party/phase1/xwin"]
	path = third_party/phase1/xwin
	url = https://github.com/RPIDIAL/X-WIN
[submodule "third_party/phase1/carzero"]
	path = third_party/phase1/carzero
	url = https://github.com/laihaoran/CARZero
[submodule "third_party/phase2/tcmax"]
	path = third_party/phase2/tcmax
	url = https://github.com/hubaak/TCMax
